<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.iMoney">
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 读写文件权限 -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.INTERNET"
        tools:ignore="ManifestOrder" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="菜菜i财"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.iMoney">
        <activity
            android:name="com.example.iMoney.MainActivity"
            android:exported="true"
            android:label="iMoney"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.iMoney.Test.TestActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.example.iMoney.LoginActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.example.iMoney.Register"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.example.iMoney.VideoActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Video" />
    </application>

</manifest>